<template>
  <v-menu
    v-model="menu"
    :close-on-content-click="false"
    :nudge-right="40"
    transition="scale-transition"
    offset-y
    min-width="290px"
  >
    <template v-slot:activator="{on}">
      <v-text-field
        v-model="dateTime"
        :label="title"
        prepend-inner-icon="mdi-calendar"
        outlined
        readonly
        v-on="on"
        v-if="renderComponent"
      ></v-text-field>
    </template>
    <v-date-picker v-if="!change" v-model="dateAux" @input="change=true"></v-date-picker>
    <v-time-picker
      v-else
      v-model="time"
      format="24hr"
      full-width
      @click:minute="send(),menu=false,change=false"
    ></v-time-picker>
  </v-menu>
</template>

<script>
export default {
  props: ["title", "date"],
  data() {
    return {
      menu: false,
      change: false,
      dateTime: "",
      time: null,
      dateAux: null,
      renderComponent: true
    };
  },
  watch:{
    date: function(){
      if(this.date == null || this.date == undefined){
        this.time= new Date().toISOString().substr(11,5)
        this.dateAux= new Date().toISOString().substr(0,10)
      }
      else{
      this.time= this.date.toISOString().substr(11,5)
      this.dateAux= this.date.toISOString().substr(0,10)
      }
      this.updateDateTime()
    },
  },
  mounted(){
    if(this.date == null || this.date == undefined){
        this.time= new Date().toISOString().substr(11,5)
        this.dateAux= new Date().toISOString().substr(0,10)
      }else{
      this.time= this.date.toISOString().substr(11,5)
      this.dateAux= this.date.toISOString().substr(0,10)
      }
    this.updateDateTime()
  },
  methods: {
    send() {
      this.updateDateTime()
      this.$emit("value", this.dateTime);
    },
    updateDateTime(){
      console.log("dateAux: "+ this.dateAux)
      console.log("time: " +this.time)
      this.dateTime = this.getDate() + " " + this.getTime()
    },
    getTime(){
      if(this.time == null || this.time == undefined)
        return "00:00"
      return this.time
    },
    getDate(){
      if(this.dateAux == null || this.dateAux == undefined)
        return new Date().toISOString().substr(0,10)
      return this.dateAux
    }
  }
};
</script>

<style>
</style>