<template>
  <v-dialog v-model="state" width="500">
    <v-form v-model="valid" ref="form">
      <v-card v-if="event === null">
        <v-toolbar>
          <v-card-title>New event</v-card-title>
        </v-toolbar>
        <v-container>
          <v-text-field :rules="titleRules" label="Title" outlined v-model="eventBase.title"></v-text-field>
          <DataTime title="Start" :date="date" v-on:value="eventBase.start = $event " />
          <v-switch v-model="switch1" label="Add end date"></v-switch>
          <DataTime v-if="switch1" title="End" :date="date" v-on:value="eventBase.end = $event  " />
          <v-text-field label="Url" outlined v-model="eventBase.url"></v-text-field>
          <v-menu
            v-model="menuColor"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{on}">
              <v-sheet
                v-model="color"
                :color="color.hex"
                width="60"
                height="40"
                elevation="10"
                v-on="on"
              ></v-sheet>
            </template>
            <v-color-picker
              v-model="color"
              @update:color="menuColor = false"
              class="ma-2"
              hide-mode-switch
            ></v-color-picker>
          </v-menu>
          <v-row justify="end">
            <v-btn color="success" @click="validateCreate()">
              <v-icon>mdi-content-save</v-icon>Save
            </v-btn>
            <v-btn color="error" text v-on:click="close()">Cancel</v-btn>
          </v-row>
        </v-container>
      </v-card>
      <v-card v-else>
        <v-toolbar>
          <v-card-title>Edit event</v-card-title>
        </v-toolbar>
        <v-container>
          <v-text-field :rules="titleRules" label="Title" outlined v-model="event.title"></v-text-field>
          <DataTime title="Start" :date="event.start" v-on:value="event.start = $event " />
          <DataTime title="End" :date="event.end" v-on:value="event.end = $event  " />
          <v-text-field label="Url" outlined v-model="event.url"></v-text-field>
          <v-menu
            v-model="menuColor"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{on}">
              <v-sheet
                v-model="event.backgroundColor"
                :color="color.hex"
                width="60"
                height="40"
                elevation="10"
                v-on="on"
              ></v-sheet>
            </template>
            <v-color-picker
              v-model="color"
              @update:color="menuColor = false"
              class="ma-2"
              hide-mode-switch
            ></v-color-picker>
          </v-menu>
          <v-row justify="end">
            <v-btn color="success" v-on:click="validateEdit(event.id, event)">
              <v-icon>mdi-content-save</v-icon>Save
            </v-btn>
            <v-btn color="error" v-on:click="close()" text>Cancel</v-btn>
          </v-row>
        </v-container>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
import DataTime from "../components/DataTime";

export default {
  props: ["state", "event", "date"],
  components: {
    DataTime
  },
  data: () => ({
    valid: true,
    switch1: false,
    eventBase: {
      title: "",
      start: "",
      end: "",
      url: "",
      backgroundColor: ""
    },
    titleRules: [v => !!v || "title is required"],
    endRules: [ (v) => {console.log(v); return false;}],
    menuColor: false,
    color: {
      alpha: 1,
      hex: "#FF0000",
      hexa: "#FF0000FF",
      hsla: { h: 0, s: 1, l: 0.5, a: 1 },
      hsva: { h: 0, s: 1, v: 1, a: 1 },
      hue: 0,
      rgba: { r: 255, g: 0, b: 0, a: 1 }
    }
  }),
  methods: {
    submit() {
      this.eventBase.backgroundColor = this.color.hex;
      if (this.eventBase.start === "") this.eventBase.start = this.date;
      if (this.eventBase.end === "") this.eventBase.end = this.date;

      this.$store.dispatch("createEvent", this.eventBase);
      this.eventBase = {
        title: "",
        start: "",
        end: "",
        url: "",
        backgroundColor: ""
      };
      this.$emit("close");
    },
    edit(eventId, event) {
      this.event.backgroundColor = this.color.hex;
      console.log({ eventId: eventId, event: event });
      this.$store.dispatch("editEvent", { eventId: eventId, event: event });
      this.eventBase = {
        title: "",
        start: "",
        end: "",
        url: "",
        backgroundColor: ""
      };
      this.$emit("close");
    },
    close() {
      this.eventBase = {
        title: "",
        start: "",
        end: "",
        url: "",
        backgroundColor: ""
      };
      this.$emit("close");
    },
    validateCreate() {
      if (this.$refs.form.validate()) {
        this.submit();
      }
    },
    validateEdit(eventId, event) {
      if (this.$refs.form.validate()) {
        this.edit(eventId, event);
      }
    }
  }
};
</script>

