<template>
  <div>
    <FullCalendar
      @dateClick="handleDateClick"
      @eventClick="infoEvent"
      :plugins="calendarPlugins"
      :events="events"
    />
    <v-dialog v-model="dialogStatus" max-width="290">
      <v-card v-if="info !== null">
        <v-toolbar>
          <v-row>
            <v-card-title primary-title>{{info.title}}</v-card-title>
            <v-spacer></v-spacer>
            <v-card-actions>
              <v-btn color="primary" text @click="editEvent()">
                <v-icon>mdi-lead-pencil</v-icon>
              </v-btn>
              <v-btn color="error" text @click="snackbar = true">
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </v-card-actions>
          </v-row>
        </v-toolbar>
        <v-card-text>{{info.start}}</v-card-text>
        <v-card-text v-if="info.end !== null">{{info.end}}</v-card-text>
        <v-card-text v-if="info.url !== null">{{info.url}}</v-card-text>
        <v-divider></v-divider>
        <v-snackbar v-model="snackbar" color="error" top multi-line>
          <p>Are you sure you want to delete this item?</p> 
          <v-btn text @click="deleteEvent(info.id)">Delete</v-btn>
          <v-btn text @click="snackbar = false">Cancel</v-btn>
        </v-snackbar>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="dialogStatus = false">I accept</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <FormCreateEvent :state="dialogCreate" :event="info" :date="date" v-on:close="dialogCreate=!dialogCreate, info = null" />
  </div>
</template>

<script>
import FullCalendar from "@fullcalendar/vue";
import dayGridPlugin from "@fullcalendar/daygrid";
import interactionPlugin from "@fullcalendar/interaction";
import FormCreateEvent from "../components/FormCreateEvent";

export default {
  computed: {
    events() {
      return this.$store.state.events;
    }
  },
 created() {
    this.$store.dispatch("loadEvents");
  },
  components: {
    FullCalendar, // make the <FullCalendar> tag available,
    FormCreateEvent
  },
  data() {
    return {
      calendarPlugins: [dayGridPlugin, interactionPlugin],
      test: "oi",
      dialogStatus: false,
      dialogCreate: false,
      info: null,
      snackbar:false,
      date: null
    };
  },
  methods: {
    handleDateClick(arg) {
      this.dialogCreate = true;
      this.date = arg.date;
    },
    infoEvent(info) {
      this.dialogStatus = true;
      this.info = {
        id:  info.event.id,
        title: info.event.title,
        start: info.event.start,
        end: info.event.end,
        url: info.event.url,
        backgroundColor: info.event.backgroundColor
      };
      if(info.event.url){
        info.jsEvent.preventDefault()
        window.open(info.event.url, "_blank");
      }
    },
    deleteEvent(eventId) {
      this.dialogStatus = false,
      this.snackbar = false
      this.$store.dispatch("deleteEvent", { eventId: eventId });
    },
    editEvent(){
      this.dialogCreate = true
    }
    
  }
};
</script>

<style lang='scss'>
@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
</style>